<body id="page-top">
    <div id="wrapper">
        <app-barra></app-barra>
    
        <div id="content-wrapper" class="d-flex flex-column">
            <div class="container-fluid">
                <div class="row">
                    <br>
                </div>
                  
  
                <div class="row">
                    <div class="col-xl-15 col-lg-14">
                        <div class="card shadow mb-4">
                            <div class="card shadow" >
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa-solid fa-sitemap"></i> Árbol AST</h6>
                                </div>
                                <div class="card-body" style="height: 500px;position:relative; max-height:100%;overflow:auto;">
                                    <div *ngIf="mostrar; then thenBlock else elseBlock"></div>
                                    <ng-template #thenBlock><img src="./assets/ast.svg"></ng-template>
                                    <ng-template #elseBlock>Error</ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <app-foot></app-foot>
</body>
