
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <div class="sidebarr">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            
            <div class="sidebar-brand-text mx-3">CompScript </div>
        </a>

   
    <hr class="sidebar-divider my-0">

    <li class="nav-item ">
        <a class="nav-link" href="editor">
            <i class="fa-solid fa-code"></i>
            <span>Editor</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Reportes
    </div>

    <li class="nav-item">
        <a class="nav-link" href="errores">
            <i class="fa-solid fa-bug"></i>
            <span>Reporte de Errores</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="AST">
            <i class="fa-solid fa-sitemap"></i>
            <span>Árbol AST</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="simbolos">
            <i class="fas fa-fw fa-table"></i>
            <span>Tabla de Símbolos</span></a>
    </li>
</div>

</ul>