<body id="page-top">
    <div id="wrapper">
        <app-barra></app-barra>
    
        <div id="content-wrapper" class="d-flex flex-column">
            <div class="container-fluid">
                <div class="row">
                    <br>
                </div>
                
                <div>
                    <button type="button" (click)="nuevo()" class="btn btn-info"><i class="fa-solid fa-file"></i> Nuevo</button>&nbsp;
                    <button type="button" (click)="guardar()" class="btn btn-success"><i class="fa-solid fa-folder"></i> Guardar</button> &nbsp;
                    <input type="file" (change)="abrir($event)" class="btn btn-primary"> &nbsp;
                </div>    
                <div class="row">
                    <br>
                </div>    
                <div class="row">
    
    
                    <div class="col-xl-15 col-lg-14">
                        <div class="card shadow mb-4">
                            <div class="card shadow ">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa-solid fa-code"></i> Editor</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" [(ngModel)]=contenido ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-15 col-lg-14">
                        <div class="card shadow mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary"><i class="fa-solid fa-laptop-code"></i> Consola</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

    </div>
    <app-foot></app-foot>
</body>
